.jumbotron1{
    background-image: linear-gradient(rgba(255, 255, 255, 0.348), rgba(255, 255, 255, 0.348)), url(../Imagenes/Portada.JPG);
    background-size: cover;
    background-position: center;
    height: 900px;
}
.contacto{
    background-color: hwb(181 72% 10%);
    text-align: center;
    
}
.cont{ 
    
    font-family: 'Playfair Display SC', serif;
    color: hwb(0 0% 100%);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.what{
    
    font-family: 'Playfair Display SC', serif;
    color: hwb(0 0% 100%);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
.cel{
   
    font-family: 'Playfair Display SC', serif;
    color: hwb(0 0% 100%);
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}
.rd{
    
    font-family: 'Playfair Display SC', serif;
    color: hwb(0 0% 100%);
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    
}
.fc{
    
    @extend .rd;
}
.in{
   
    @extend .rd;
}
.mail{
   
    @extend .rd;
}
.mail1{
    
    @extend .rd;
}

.direccion{
  
    font-family: 'Playfair Display SC', serif;
    color: #000000;
    list-style: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.section2 {
    background-color: hwb(185 69% 18% / 0);
    display: flex;
    
}
.main-form {
    display: flex;
    align-items: center;
    justify-content: center;
    
        .main-form-fieldset {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        align-items: center;
        background-color: hwb(197 43% 33% / 0.152);
        border-radius: 5px;
        border: 5px solid black;
        
        
}}
.form-items {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    text-transform: uppercase;
    
}

.texto {
    display: flex;
    text-align: center;
    color: hwb(176 76% 3% / 0.986);
    width: 250px;
    height: 180px;
    background-image: url(../multimedia/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    text-transform: uppercase;
    
}

.boton {
    width: 100%;
    background-color: hwb(196 1% 62%);
    color: rgba(186, 238, 245, 0);
    margin-bottom: 5px;
}

.renglon {
    background-color:hwb(202 94% 3% / 0.279);
    color: hwb(176 91% 3% / 0.75);
    
}