@media screen and (min-width:900px) {
    .conteiner {
        display: grid;
        grid-template-rows: 9em repeat(3, 1fr) 5em;
        grid-template-columns: repeat(3, 1fr);
    }

    .df-header {
        grid-column: 1/span3;
        font-size: 30px;
        
    }

    .main {
        grid-row: 2/6;
        grid-column: 1/4;
    }

    .bg-footer {
        grid-row: 5/6;
        grid-column: 1/span 3;
    }
}