.item{
    height: 250px;
    border: 5px solid hwb(0 4% 96%);
}
.item1{
    background-image: url(../imagenes/7.JPG);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item2{
    background-image: url(../imagenes/video2.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item3{
    background-image: url(../imagenes/21.JPG);
    background-size: cover;
    background-position: center;
    align-items: center;
  }
.item4{
    background-image: url(../imagenes/15.JPG);
    background-size: cover;
    background-position: center;
    align-items: center;
    
   }
.item5{
    background-image: url(../imagenes/TB9.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item6{
    background-image: url(../imagenes/TB11.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item7{
    background-image: url(../imagenes/TB12.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item8{
    background-image: url(../imagenes/Clubes1.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item9{
    background-image: url(../imagenes/Clubes2.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item10{
    background-image: url(../imagenes/ColegioIpenC.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item11{
    background-image: url(../imagenes/ColegioMontesori.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.item12{
    background-image: url(../imagenes/ColegiolasIsletilla.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
