.somos{
    background-color: hwb(181 72% 10%);
}
.imagen1 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.fg{
    justify-content: space-between;
    color: hwb(0 0% 100%);
    font-family: 'Playfair Display SC', serif;
    text-align: justify;
    flex-wrap: wrap;
}
.tex1{
    font-family: 'Playfair Display SC', serif;
    text-align: justify;
    flex-wrap: wrap;
}
.tex2{
    font-family: 'Playfair Display SC', serif;
    text-align: justify;
    flex-wrap: wrap;
}
.tex3{
    font-family: 'Playfair Display SC', serif;
    text-align: justify;
    flex-wrap: wrap;
}
.tex4{
    font-family: 'Playfair Display SC', serif;
    text-align: justify;
    flex-wrap: wrap;
}
.tex5{
    font-family: 'Playfair Display SC', serif;
    text-align: justify;
    flex-wrap: wrap;
}
.tex6{
    font-family: 'Playfair Display SC', serif;
    text-align: justify;
    flex-wrap: wrap;
}
